<html>
    <head>
        <title>Trents MLG Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Trent's Blog</a></h1>
        </div>

        <div>
            <p>published: 00.00.0000, 00:00, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>blah blah blah filler text blah blah blah</p>
        </div>

        <div>
            <p>published: some time, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
